{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto"
} 